<div class="wukong-transfer" [ngStyle]="ngStyle">
    <!-- 穿梭框 左边 -->
    <div class="wukong-transfer-left">
        <div class="wukong-transfer-title">
            <span>待选择</span>
        </div>

        <div class="wukong-transfer-list wukong-transfer-list-left">
            <div *ngIf="selectOptions" class="wukong-transfer-list-header m5">
                <nz-select class="dropdown-default-bor dropdown-big"
                   nzShowSearch
                   (ngModelChange)="selectOptionChangeHandle($event)"
                   [(ngModel)]="selectOption"
                   >
                    <nz-option
                        *ngFor="let option of selectOptions"
                        [nzLabel]="option[selectLabel]"
                        [nzValue]="option"
                    >
                    </nz-option>
                </nz-select>
            </div>
            <div class="wukong-transfer-list-search m5">
                <div class="apm-search-wrap search-wrap">
                    <input class="input-default input-sm search-input" [(ngModel)]="searchLeftText" (ngModelChange)="searchLeftChange()" type="text" placeholder="请输入搜索内容">
                    <a class="apm-search-icon" href="javascript:void(0);"></a>
                </div>
                <div *ngIf="allowAdd">
                    <button style="height: 100%; font-size: 16px;" class="mb-type mb-type-square mb-type-smallsquare" (click)="addItemToList()">+</button>
                </div>
            </div>
            <div class="wukong-transfer-list-body m5">
                <ul class="dropdown-list">
                    <li *ngFor="let row of list">
                        <label *ngIf="!row.hide" class="checkbox-label" style="float: none;margin-top: 0px;" >
                            <span class="transfer-checkbox" style="margin-top:-8px; cursor: pointer;" (click)="checkboxLeftClick(row)">
                              <input type="checkbox" class="transfer-checkbox-input" [(ngModel)]="row.checked" />
                              <span class="transfer-checkbox-circle"></span>
                            </span>
                            {{ row[liLabel] }}
                        </label>
                    </li>
                </ul>
            </div>
            <div class="wukong-transfer-list-footer">
                <span class="transfer-checkbox" style="margin-top:-8px; cursor: pointer;" (click)="checkboxLeftAllClick()">
                    <input type="checkbox" class="transfer-checkbox-input" [disabled]="disableLeft" [(ngModel)]="checkedLeftAll" />
                    全选
                </span>
            </div>
        </div>
    </div>
     <!-- 穿梭框 icon -->
    <div class="wukong-transfer-operation">
        <!-- move right -->
        <a class="transfrer-move" [ngClass]="{'transfrer-move-active': hasLeftChecked}" (click)="moveToRightClick()">></a>
        <!-- move left -->
        <a class="transfrer-move" [ngClass]="{'transfrer-move-active': hasRightChecked}" (click)="moveToLeftClick()"><</a>
    </div>
    <!-- 穿梭框 右边 -->
    <div class="wukong-transfer-right">
        <div class="wukong-transfer-title">
            <span>已选择</span>
        </div>
        <div class="wukong-transfer-list wukong-transfer-list-right">
            <div *ngIf="selectOptions" class="wukong-transfer-list-header wukong-transfer-notify-text m5">
                <span>{{selectOption ? selectOption[selectLabel] : '暂无'}}</span>
            </div>
            <div class="wukong-transfer-list-search m5">
                <div class="apm-search-wrap search-wrap">
                    <input class="input-default input-sm search-input" [(ngModel)]="searchRightText" (ngModelChange)="searchRightChange()" type="text" placeholder="请输入搜索内容">
                    <a class="apm-search-icon" href="javascript:void(0);"></a>
                </div>
            </div>
            <div class="wukong-transfer-list-body m5">
                <ul class="dropdown-list">
                    <li *ngFor="let row of selectedList">
                        <label *ngIf="!row.hide" class="checkbox-label" style="float: none;margin-top: 0px;" >
                            <span class="transfer-checkbox" style="margin-top:-8px;">
                              <input type="checkbox" class="transfer-checkbox-input" [(ngModel)]="row.checked" (click)="checkboxRightClick(row)" />
                              <span class="transfer-checkbox-circle"></span>
                            </span>
                            {{ row[liLabel] }}
                        </label>
                    </li>
                </ul>
            </div>
            <div class="wukong-transfer-list-footer">
                <span class="transfer-checkbox" style="margin-top:-8px; cursor: pointer;" (click)="checkboxRightAllClick()">
                    <input type="checkbox" class="transfer-checkbox-input" [disabled]="disableRight" [(ngModel)]="checkedRightAll" />
                    全选
                </span>
            </div>
        </div>
    </div>
</div>
