<div class="input-wrapper">
	<div class="input" [class.required]="required" #dropreference>
		<input #input
			   placeholder={{placeholder}}
		       [disabled]="disabled"
		       [value]="displayText"
		       (click)="showDropdown()"
			   (keydown)="onKeyDown($event)"
			   [(ngModel)]="inputValue"
			   (ngModelChange)="_inputValueChange()"
			   (blur)="onTouched()"
		       autocomplete="off">
		<span *ngIf="!allowAddOption" class="dropdown-arrow" (click)="onDropMenuIconClick($event)">🔽</span>
		<span *ngIf="allowAddOption" class="dropdown-arrow" (click)="onAddAOptionDataClick($event)">➕</span>
		<!-- <custom-dropdown [reference]="dropreference" #dropdownComp>
			<div class="dropdown-options-container">
				<ng-content select="custom-select-option">
				</ng-content>
			</div>
		</custom-dropdown> -->
		<custom-dropdown [reference]="dropreference" #dropdownComp>
			<cdk-virtual-scroll-viewport 
				#scrollComponent 
				[itemSize]="40 * 5" 
				[style.height.px]="40 * 5" 
				class="dropdown-options-container"
				(scrolledIndexChange)="onScrolledIndexChange($event)"
				>
				<!-- <ng-content select="custom-select-option">
				</ng-content> -->
				<div *ngFor="let item of optionList">
					<custom-select-option *ngIf="!item.hidden" [key]="getItemKey(item)" [value]="getItemValue(item)" [option]="item"></custom-select-option>
				</div>
				<!-- <custom-select-option *ngFor="let item of optionList | searchFilter: inputValue: label : search : 'hidden'" [key]="getItemKey(item)" [value]="getItemValue(item)" [option]="item" [hidden]="item.hidden"></custom-select-option> -->
			</cdk-virtual-scroll-viewport>
		</custom-dropdown>
	</div>
</div>
