/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.wukong-cascader {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
}
.wukong-cascader-input.wukong-input {
  position: static;
  width: 100%;
  padding-right: 24px;
  background-color: transparent !important;
  cursor: pointer;
}
.wukong-cascader-picker-rtl .wukong-cascader-input.wukong-input {
  padding-right: 11px;
  padding-left: 24px;
  text-align: right;
}
.wukong-cascader-picker-show-search .wukong-cascader-input.wukong-input {
  position: relative;
}
.wukong-cascader-picker {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s;
}
.wukong-cascader-picker-with-value .wukong-cascader-picker-label {
  color: transparent;
}
.wukong-cascader-picker-disabled {
  color: rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
  cursor: not-allowed;
}
.wukong-cascader-picker-disabled .wukong-cascader-input {
  cursor: not-allowed;
}
.wukong-cascader-picker:focus .wukong-cascader-input {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.wukong-input-rtl .wukong-cascader-picker:focus .wukong-cascader-input {
  border-right-width: 0;
  border-left-width: 1px !important;
}
.wukong-cascader-picker-borderless .wukong-cascader-input {
  border-color: transparent !important;
  box-shadow: none !important;
}
.wukong-cascader-picker-show-search.wukong-cascader-picker-focused {
  color: rgba(0, 0, 0, 0.25);
}
.wukong-cascader-picker-label {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 20px;
  margin-top: -10px;
  padding: 0 20px 0 12px;
  overflow: hidden;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.wukong-cascader-picker-rtl .wukong-cascader-picker-label {
  padding: 0 12px 0 20px;
  text-align: right;
}
.wukong-cascader-picker-clear {
  position: absolute;
  top: 50%;
  right: 12px;
  z-index: 2;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  line-height: 12px;
  background: #fff;
  cursor: pointer;
  opacity: 0;
  transition: color 0.3s ease, opacity 0.15s ease;
}
.wukong-cascader-picker-clear:hover {
  color: rgba(0, 0, 0, 0.45);
}
.wukong-cascader-picker-rtl .wukong-cascader-picker-clear {
  right: auto;
  left: 12px;
}
.wukong-cascader-picker:hover .wukong-cascader-picker-clear {
  opacity: 1;
}
.wukong-cascader-picker-arrow {
  position: absolute;
  top: 50%;
  right: 12px;
  z-index: 1;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  line-height: 12px;
  transition: transform 0.2s;
}
.wukong-cascader-picker-arrow.wukong-cascader-picker-arrow-expand {
  transform: rotate(180deg);
}
.wukong-cascader-picker-rtl .wukong-cascader-picker-arrow {
  right: auto;
  left: 12px;
}
.wukong-cascader-picker-label:hover + .wukong-cascader-input {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}
.wukong-input-rtl .wukong-cascader-picker-label:hover + .wukong-cascader-input {
  border-right-width: 0;
  border-left-width: 1px !important;
}
.wukong-cascader-picker-small .wukong-cascader-picker-clear,
.wukong-cascader-picker-small .wukong-cascader-picker-arrow {
  right: 8px;
}
.wukong-cascader-picker-rtl .wukong-cascader-picker-small .wukong-cascader-picker-clear,
.wukong-cascader-picker-rtl .wukong-cascader-picker-small .wukong-cascader-picker-arrow {
  right: auto;
  left: 12px;
}
.wukong-cascader-menus {
  position: absolute;
  z-index: 1050;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.wukong-cascader-menus ul,
.wukong-cascader-menus ol {
  margin: 0;
  list-style: none;
}
.wukong-cascader-menus-empty,
.wukong-cascader-menus-hidden {
  display: none;
}
.wukong-cascader-menus.slide-up-enter.slide-up-enter-active.wukong-cascader-menus-placement-bottomLeft,
.wukong-cascader-menus.slide-up-appear.slide-up-appear-active.wukong-cascader-menus-placement-bottomLeft {
  animation-name: antSlideUpIn;
}
.wukong-cascader-menus.slide-up-enter.slide-up-enter-active.wukong-cascader-menus-placement-topLeft,
.wukong-cascader-menus.slide-up-appear.slide-up-appear-active.wukong-cascader-menus-placement-topLeft {
  animation-name: antSlideDownIn;
}
.wukong-cascader-menus.slide-up-leave.slide-up-leave-active.wukong-cascader-menus-placement-bottomLeft {
  animation-name: antSlideUpOut;
}
.wukong-cascader-menus.slide-up-leave.slide-up-leave-active.wukong-cascader-menus-placement-topLeft {
  animation-name: antSlideDownOut;
}
.wukong-cascader-menu {
  display: inline-block;
  min-width: 180px;
  height: 180px;
  margin: 0;
  padding: 5px 0;
  overflow: auto;
  vertical-align: top;
  list-style: none;
  border-right: 1px solid #f0f0f0;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.wukong-cascader-menu:first-child {
  border-radius: 2px 0 0 2px;
}
.wukong-cascader-menu:last-child {
  margin-right: -1px;
  border-right-color: transparent;
  border-radius: 0 2px 2px 0;
}
.wukong-cascader-menu:only-child {
  border-radius: 2px;
}
.wukong-cascader-menu-rtl {
  direction: rtl;
  border-right: none;
  border-left: 1px solid #f0f0f0;
}
.wukong-cascader-menu-rtl:last-child {
  margin-right: 0;
  margin-left: -1px;
  border-left-color: transparent;
  border-radius: 0 0 4px 4px;
}
.wukong-cascader-menu-item {
  padding: 5px 12px;
  line-height: 22px;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}
.wukong-cascader-menu-item:hover {
  background: #f5f5f5;
}
.wukong-cascader-menu-item-disabled {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.wukong-cascader-menu-item-disabled:hover {
  background: transparent;
}
.wukong-cascader-menu-item-active:not(.wukong-cascader-menu-item-disabled),
.wukong-cascader-menu-item-active:not(.wukong-cascader-menu-item-disabled):hover {
  font-weight: 600;
  background-color: #e6f7ff;
}
.wukong-cascader-menu-item-expand {
  position: relative;
  padding-right: 24px;
}
.wukong-cascader-menu-rtl .wukong-cascader-menu-item-expand {
  padding-right: 12px;
  padding-left: 24px;
}
.wukong-cascader-menu-item-expand .wukong-cascader-menu-item-expand-icon,
.wukong-cascader-menu-item-loading-icon {
  display: inline-block;
  font-size: 10px;
  position: absolute;
  right: 12px;
  color: rgba(0, 0, 0, 0.45);
}
.wukong-cascader-menu-rtl .wukong-cascader-menu-item-expand .wukong-cascader-menu-item-expand-icon,
.wukong-cascader-menu-rtl .wukong-cascader-menu-item-loading-icon {
  right: auto;
  left: 12px;
}
.wukong-cascader-menu-item .wukong-cascader-menu-item-keyword {
  color: #ff4d4f;
}
.wukong-empty {
  margin: 0 8px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}
.wukong-empty-rtl {
  direction: rtl;
}
.wukong-empty-image {
  height: 100px;
  margin-bottom: 8px;
}
.wukong-empty-image img {
  height: 100%;
}
.wukong-empty-image svg {
  height: 100%;
  margin: auto;
}
.wukong-empty-description {
  margin: 0;
}
.wukong-empty-footer {
  margin-top: 16px;
}
.wukong-empty-normal {
  margin: 32px 0;
  color: rgba(0, 0, 0, 0.25);
}
.wukong-empty-normal .wukong-empty-image {
  height: 40px;
}
.wukong-empty-small {
  margin: 8px 0;
  color: rgba(0, 0, 0, 0.25);
}
.wukong-empty-small .wukong-empty-image {
  height: 35px;
}
.wukong-empty-img-default-ellipse {
  fill-opacity: 0.8;
  fill: #f5f5f5;
}
.wukong-empty-img-default-path-1 {
  fill: #aeb8c2;
}
.wukong-empty-img-default-path-2 {
  fill: url(#linearGradient-1);
}
.wukong-empty-img-default-path-3 {
  fill: #f5f5f7;
}
.wukong-empty-img-default-path-4 {
  fill: #dce0e6;
}
.wukong-empty-img-default-path-5 {
  fill: #dce0e6;
}
.wukong-empty-img-default-g {
  fill: #fff;
}
.wukong-empty-img-simple-ellipse {
  fill: #f5f5f5;
}
.wukong-empty-img-simple-g {
  stroke: #d9d9d9;
}
.wukong-empty-img-simple-path {
  fill: #fafafa;
}
.wukong-input-affix-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
  display: inline-flex;
}
.wukong-input-affix-wrapper::-moz-placeholder {
  opacity: 1;
}
.wukong-input-affix-wrapper::placeholder {
  color: #bfbfbf;
}
.wukong-input-affix-wrapper:placeholder-shown {
  text-overflow: ellipsis;
}
.wukong-input-affix-wrapper:hover {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}
.wukong-input-rtl .wukong-input-affix-wrapper:hover {
  border-right-width: 0;
  border-left-width: 1px !important;
}
.wukong-input-affix-wrapper:focus,
.wukong-input-affix-wrapper-focused {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.wukong-input-rtl .wukong-input-affix-wrapper:focus,
.wukong-input-rtl .wukong-input-affix-wrapper-focused {
  border-right-width: 0;
  border-left-width: 1px !important;
}
.wukong-input-affix-wrapper-disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 1;
}
.wukong-input-affix-wrapper-disabled:hover {
  border-color: #d9d9d9;
  border-right-width: 1px !important;
}
.wukong-input-rtl .wukong-input-affix-wrapper-disabled:hover {
  border-right-width: 0;
  border-left-width: 1px !important;
}
.wukong-input-affix-wrapper[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 1;
}
.wukong-input-affix-wrapper[disabled]:hover {
  border-color: #d9d9d9;
  border-right-width: 1px !important;
}
.wukong-input-rtl .wukong-input-affix-wrapper[disabled]:hover {
  border-right-width: 0;
  border-left-width: 1px !important;
}
textarea.wukong-input-affix-wrapper {
  max-width: 100%;
  height: auto;
  min-height: 32px;
  line-height: 1.5715;
  vertical-align: bottom;
  transition: all 0.3s, height 0s;
}
.wukong-input-affix-wrapper-lg {
  padding: 6.5px 11px;
  font-size: 16px;
}
.wukong-input-affix-wrapper-sm {
  padding: 0px 7px;
}
.wukong-input-affix-wrapper-rtl {
  direction: rtl;
}
.wukong-input-affix-wrapper > input.wukong-input {
  padding: 0;
  border: none;
  outline: none;
}
.wukong-input-affix-wrapper > input.wukong-input:focus {
  box-shadow: none;
}
.wukong-input-prefix,
.wukong-input-suffix {
  flex: none;
}
.wukong-input-prefix {
  margin-right: 4px;
}
.wukong-input-suffix {
  margin-left: 4px;
}
.wukong-input-affix-wrapper-rtl .wukong-input-prefix {
  margin: 0 0 0 4px;
}
.wukong-input-affix-wrapper-rtl .wukong-input-suffix {
  margin: 0 4px 0 0;
}
.wukong-input-clear-icon {
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  cursor: pointer;
  transition: color 0.3s;
  margin: 0 4px;
  vertical-align: -1px;
}
.wukong-input-clear-icon:hover {
  color: rgba(0, 0, 0, 0.45);
}
.wukong-input-clear-icon:active {
  color: rgba(0, 0, 0, 0.65);
}
.wukong-input-clear-icon + i {
  margin-left: 6px;
}
.wukong-input-clear-icon:last-child {
  margin-right: 0;
}
.wukong-input-affix-wrapper-textarea-with-clear-btn {
  padding: 0;
  border: 0;
}
.wukong-input-textarea-clear-icon {
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  cursor: pointer;
  transition: color 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px 8px 0 0;
}
.wukong-input-textarea-clear-icon:hover {
  color: rgba(0, 0, 0, 0.45);
}
.wukong-input-textarea-clear-icon:active {
  color: rgba(0, 0, 0, 0.65);
}
.wukong-input-textarea-clear-icon + i {
  margin-left: 6px;
}
.wukong-input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
}
.wukong-input::-moz-placeholder {
  opacity: 1;
}
.wukong-input::placeholder {
  color: #bfbfbf;
}
.wukong-input:placeholder-shown {
  text-overflow: ellipsis;
}
.wukong-input:hover {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}
.wukong-input-rtl .wukong-input:hover {
  border-right-width: 0;
  border-left-width: 1px !important;
}
.wukong-input:focus,
.wukong-input-focused {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.wukong-input-rtl .wukong-input:focus,
.wukong-input-rtl .wukong-input-focused {
  border-right-width: 0;
  border-left-width: 1px !important;
}
.wukong-input-disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 1;
}
.wukong-input-disabled:hover {
  border-color: #d9d9d9;
  border-right-width: 1px !important;
}
.wukong-input-rtl .wukong-input-disabled:hover {
  border-right-width: 0;
  border-left-width: 1px !important;
}
.wukong-input[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  cursor: not-allowed;
  opacity: 1;
}
.wukong-input[disabled]:hover {
  border-color: #d9d9d9;
  border-right-width: 1px !important;
}
.wukong-input-rtl .wukong-input[disabled]:hover {
  border-right-width: 0;
  border-left-width: 1px !important;
}
textarea.wukong-input {
  max-width: 100%;
  height: auto;
  min-height: 32px;
  line-height: 1.5715;
  vertical-align: bottom;
  transition: all 0.3s, height 0s;
}
.wukong-input-lg {
  padding: 6.5px 11px;
  font-size: 16px;
}
.wukong-input-sm {
  padding: 0px 7px;
}
.wukong-input-rtl {
  direction: rtl;
}
.wukong-input-group {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
.wukong-input-group[class*='col-'] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}
.wukong-input-group > [class*='col-'] {
  padding-right: 8px;
}
.wukong-input-group > [class*='col-']:last-child {
  padding-right: 0;
}
.wukong-input-group-addon,
.wukong-input-group-wrap,
.wukong-input-group > .wukong-input {
  display: table-cell;
}
.wukong-input-group-addon:not(:first-child):not(:last-child),
.wukong-input-group-wrap:not(:first-child):not(:last-child),
.wukong-input-group > .wukong-input:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.wukong-input-group-addon,
.wukong-input-group-wrap {
  width: 1px;
  white-space: nowrap;
  vertical-align: middle;
}
.wukong-input-group-wrap > * {
  display: block !important;
}
.wukong-input-group .wukong-input {
  float: left;
  width: 100%;
  margin-bottom: 0;
  text-align: inherit;
}
.wukong-input-group .wukong-input:focus {
  z-index: 1;
  border-right-width: 1px;
}
.wukong-input-group .wukong-input:hover {
  z-index: 1;
  border-right-width: 1px;
}
.wukong-input-group-addon {
  position: relative;
  padding: 0 11px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
}
.wukong-input-group-addon .wukong-select {
  margin: -5px -11px;
}
.wukong-input-group-addon .wukong-select.wukong-select-single:not(.wukong-select-customize-input) .wukong-select-selector {
  background-color: inherit;
  border: 1px solid transparent;
  box-shadow: none;
}
.wukong-input-group-addon .wukong-select-open .wukong-select-selector,
.wukong-input-group-addon .wukong-select-focused .wukong-select-selector {
  color: #1890ff;
}
.wukong-input-group-addon > i:only-child::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}
.wukong-input-group > .wukong-input:first-child,
.wukong-input-group-addon:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.wukong-input-group > .wukong-input:first-child .wukong-select .wukong-select-selector,
.wukong-input-group-addon:first-child .wukong-select .wukong-select-selector {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.wukong-input-group > .wukong-input-rtl:first-child,
.wukong-input-group-rtl .wukong-input-group-addon:first-child {
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.wukong-input-group > .wukong-input-affix-wrapper:not(:first-child) .wukong-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.wukong-input-group > .wukong-input-affix-wrapper:not(:last-child) .wukong-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.wukong-input-group-addon:first-child {
  border-right: 0;
}
.wukong-input-group-rtl .wukong-input-group-addon:first-child {
  border-right: 1px solid #d9d9d9;
  border-left: 0;
}
.wukong-input-group-addon:last-child {
  border-left: 0;
}
.wukong-input-group-rtl .wukong-input-group-addon:last-child {
  border-right: 0;
  border-left: 1px solid #d9d9d9;
}
.wukong-input-group > .wukong-input:last-child,
.wukong-input-group-addon:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.wukong-input-group-rtl .wukong-input-group > .wukong-input:last-child,
.wukong-input-group-rtl .wukong-input-group-addon:last-child {
  border-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.wukong-input-group > .wukong-input:last-child .wukong-select .wukong-select-selector,
.wukong-input-group-addon:last-child .wukong-select .wukong-select-selector {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.wukong-input-group-lg .wukong-input,
.wukong-input-group-lg > .wukong-input-group-addon {
  padding: 6.5px 11px;
  font-size: 16px;
}
.wukong-input-group-sm .wukong-input,
.wukong-input-group-sm > .wukong-input-group-addon {
  padding: 0px 7px;
}
.wukong-input-group-lg .wukong-select-single .ant-select-selector {
  height: 40px;
}
.wukong-input-group-sm .wukong-select-single .ant-select-selector {
  height: 24px;
}
.wukong-input-group .wukong-input-affix-wrapper:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.wukong-input-group .wukong-input-affix-wrapper:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.wukong-input-group.wukong-input-group-compact {
  display: block;
}
.wukong-input-group.wukong-input-group-compact::before {
  display: table;
  content: '';
}
.wukong-input-group.wukong-input-group-compact::after {
  display: block;
  clear: both;
  content: '';
}
.wukong-input-group.wukong-input-group-compact-addon:not(:first-child):not(:last-child),
.wukong-input-group.wukong-input-group-compact-wrap:not(:first-child):not(:last-child),
.wukong-input-group.wukong-input-group-compact > .wukong-input:not(:first-child):not(:last-child) {
  border-right-width: 1px;
}
.wukong-input-group.wukong-input-group-compact-addon:not(:first-child):not(:last-child):hover,
.wukong-input-group.wukong-input-group-compact-wrap:not(:first-child):not(:last-child):hover,
.wukong-input-group.wukong-input-group-compact > .wukong-input:not(:first-child):not(:last-child):hover {
  z-index: 1;
}
.wukong-input-group.wukong-input-group-compact-addon:not(:first-child):not(:last-child):focus,
.wukong-input-group.wukong-input-group-compact-wrap:not(:first-child):not(:last-child):focus,
.wukong-input-group.wukong-input-group-compact > .wukong-input:not(:first-child):not(:last-child):focus {
  z-index: 1;
}
.wukong-input-group.wukong-input-group-compact > * {
  display: inline-block;
  float: none;
  vertical-align: top;
  border-radius: 0;
}
.wukong-input-group.wukong-input-group-compact > *:not(:last-child) {
  margin-right: -1px;
  border-right-width: 1px;
}
.wukong-input-group.wukong-input-group-compact .wukong-input {
  float: none;
}
.wukong-input-group.wukong-input-group-compact > .wukong-select > .wukong-select-selector,
.wukong-input-group.wukong-input-group-compact > .wukong-calendar-picker .wukong-input,
.wukong-input-group.wukong-input-group-compact > .wukong-select-auto-complete .wukong-input,
.wukong-input-group.wukong-input-group-compact > .wukong-cascader-picker .wukong-input,
.wukong-input-group.wukong-input-group-compact > .wukong-mention-wrapper .wukong-mention-editor,
.wukong-input-group.wukong-input-group-compact > .wukong-time-picker .wukong-time-picker-input,
.wukong-input-group.wukong-input-group-compact > .wukong-input-group-wrapper .wukong-input {
  border-right-width: 1px;
  border-radius: 0;
}
.wukong-input-group.wukong-input-group-compact > .wukong-select > .wukong-select-selector:hover,
.wukong-input-group.wukong-input-group-compact > .wukong-calendar-picker .wukong-input:hover,
.wukong-input-group.wukong-input-group-compact > .wukong-select-auto-complete .wukong-input:hover,
.wukong-input-group.wukong-input-group-compact > .wukong-cascader-picker .wukong-input:hover,
.wukong-input-group.wukong-input-group-compact > .wukong-mention-wrapper .wukong-mention-editor:hover,
.wukong-input-group.wukong-input-group-compact > .wukong-time-picker .wukong-time-picker-input:hover,
.wukong-input-group.wukong-input-group-compact > .wukong-input-group-wrapper .wukong-input:hover {
  z-index: 1;
}
.wukong-input-group.wukong-input-group-compact > .wukong-select > .wukong-select-selector:focus,
.wukong-input-group.wukong-input-group-compact > .wukong-calendar-picker .wukong-input:focus,
.wukong-input-group.wukong-input-group-compact > .wukong-select-auto-complete .wukong-input:focus,
.wukong-input-group.wukong-input-group-compact > .wukong-cascader-picker .wukong-input:focus,
.wukong-input-group.wukong-input-group-compact > .wukong-mention-wrapper .wukong-mention-editor:focus,
.wukong-input-group.wukong-input-group-compact > .wukong-time-picker .wukong-time-picker-input:focus,
.wukong-input-group.wukong-input-group-compact > .wukong-input-group-wrapper .wukong-input:focus {
  z-index: 1;
}
.wukong-input-group.wukong-input-group-compact > .wukong-select > .wukong-select-arrow {
  z-index: 1;
}
.wukong-input-group.wukong-input-group-compact > *:first-child,
.wukong-input-group.wukong-input-group-compact > .wukong-select:first-child > .wukong-select-selector,
.wukong-input-group.wukong-input-group-compact > .wukong-calendar-picker:first-child .wukong-input,
.wukong-input-group.wukong-input-group-compact > .wukong-select-auto-complete:first-child .wukong-input,
.wukong-input-group.wukong-input-group-compact > .wukong-cascader-picker:first-child .wukong-input,
.wukong-input-group.wukong-input-group-compact > .wukong-mention-wrapper:first-child .wukong-mention-editor,
.wukong-input-group.wukong-input-group-compact > .wukong-time-picker:first-child .wukong-time-picker-input {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.wukong-input-group-rtl.wukong-input-group.wukong-input-group-compact > *:first-child,
.wukong-input-group-rtl.wukong-input-group.wukong-input-group-compact > .wukong-select:first-child > .wukong-select-selector,
.wukong-input-group-rtl.wukong-input-group.wukong-input-group-compact > .wukong-calendar-picker:first-child .wukong-input,
.wukong-input-group-rtl.wukong-input-group.wukong-input-group-compact > .wukong-select-auto-complete:first-child .wukong-input,
.wukong-input-group-rtl.wukong-input-group.wukong-input-group-compact > .wukong-cascader-picker:first-child .wukong-input,
.wukong-input-group-rtl.wukong-input-group.wukong-input-group-compact > .wukong-mention-wrapper:first-child .wukong-mention-editor,
.wukong-input-group-rtl.wukong-input-group.wukong-input-group-compact > .wukong-time-picker:first-child .wukong-time-picker-input {
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.wukong-input-group.wukong-input-group-compact > *:last-child,
.wukong-input-group.wukong-input-group-compact > .wukong-select:last-child > .wukong-select-selector,
.wukong-input-group.wukong-input-group-compact > .wukong-calendar-picker:last-child .wukong-input,
.wukong-input-group.wukong-input-group-compact > .wukong-select-auto-complete:last-child .wukong-input,
.wukong-input-group.wukong-input-group-compact > .wukong-cascader-picker:last-child .wukong-input,
.wukong-input-group.wukong-input-group-compact > .wukong-cascader-picker-focused:last-child .wukong-input,
.wukong-input-group.wukong-input-group-compact > .wukong-mention-wrapper:last-child .wukong-mention-editor,
.wukong-input-group.wukong-input-group-compact > .wukong-time-picker:last-child .wukong-time-picker-input {
  border-right-width: 1px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.wukong-input-group-rtl.wukong-input-group.wukong-input-group-compact > *:last-child,
.wukong-input-group-rtl.wukong-input-group.wukong-input-group-compact > .wukong-select:last-child > .wukong-select-selector,
.wukong-input-group-rtl.wukong-input-group.wukong-input-group-compact > .wukong-calendar-picker:last-child .wukong-input,
.wukong-input-group-rtl.wukong-input-group.wukong-input-group-compact > .wukong-select-auto-complete:last-child .wukong-input,
.wukong-input-group-rtl.wukong-input-group.wukong-input-group-compact > .wukong-cascader-picker:last-child .wukong-input,
.wukong-input-group-rtl.wukong-input-group.wukong-input-group-compact > .wukong-cascader-picker-focused:last-child .wukong-input,
.wukong-input-group-rtl.wukong-input-group.wukong-input-group-compact > .wukong-mention-wrapper:last-child .wukong-mention-editor,
.wukong-input-group-rtl.wukong-input-group.wukong-input-group-compact > .wukong-time-picker:last-child .wukong-time-picker-input {
  border-right-width: 0;
  border-left-width: 1px;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.wukong-input-group.wukong-input-group-compact > .wukong-select-auto-complete .wukong-input {
  vertical-align: top;
}
.wukong-input-group-wrapper {
  display: inline-block;
  width: 100%;
  text-align: start;
  vertical-align: top;
}
.wukong-input-group-wrapper-rtl {
  direction: rtl;
}
.wukong-input-group-rtl {
  direction: rtl;
}
.wukong-input-password-icon {
  color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
  transition: all 0.3s;
}
.wukong-input-password-icon:hover {
  color: rgba(0, 0, 0, 0.85);
}
.wukong-input-search-rtl {
  direction: rtl;
}
.wukong-input-search-icon {
  color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
  transition: all 0.3s;
}
.wukong-input-search-icon:hover {
  color: rgba(0, 0, 0, 0.85);
}
.wukong-input-search-enter-button input {
  border-right: 0;
}
.wukong-input-search-rtl.wukong-input-search-enter-button input {
  border: 1px solid #d9d9d9;
  border-left: 0;
}
.wukong-input-search-enter-button.wukong-input-affix-wrapper {
  border-right: 0;
}
.wukong-input-search-enter-button + .wukong-input-group-addon,
.wukong-input-search-enter-button input + .wukong-input-group-addon {
  padding: 0;
  border: 0;
}
.wukong-input-search-enter-button + .wukong-input-group-addon .wukong-input-search-button,
.wukong-input-search-enter-button input + .wukong-input-group-addon .wukong-input-search-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.wukong-input-search-rtl.wukong-input-search-enter-button + .wukong-input-group-addon .wukong-input-search-button,
.wukong-input-search-rtl.wukong-input-search-enter-button input + .wukong-input-group-addon .wukong-input-search-button {
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}

.wukong-node-status {
  display: inline-block;
    width: 8px;
    height: 8px;
    padding: 2px;
    border: 1px solid #aaa;
    box-sizing: content-box;
    vertical-align: middle;
    margin-right: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 10px;
    text-align: center;
}

.wukong-node-search {
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  background: transparent;
  width: 100%;
  font-size: 14px;
}

.wukong-status-checked {
  font-family: unset;
  margin-top: -1px;
  -ms-transform: scaleX(-1) rotate(-35deg); /* IE 9 */
  -webkit-transform: scaleX(-1) rotate(-35deg); /* Chrome, Safari, Opera */
  transform: scaleX(-1) rotate(-35deg);
}
.wukong-status-checked::before {
  content: 'L';
  color: #40a9ff;
  font-size: 14px;
  font-weight: 800;
}

.wukong-status-partion {
  width: 100%;
  height: 100%;
  display: block;
  border: 0px;
  background-color: #40a9ff;
} 

.wukong-input {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 32px;
  padding: 4px 11px;
  color: rgba(0,0,0,.65);
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all .3s;
}
.wukong-icon-arrow-down{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  color: #999;
  transform: scale(1.4, 0.8);
  text-align: center;
}

.wukong-icon-arrow-down:before {
  content: "V";
  box-sizing: border-box;
}

.wukong-cascader-picker-arrow-up{
  transform: scale(1.4, 0.8) rotate(180deg);
}

/* loading */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #333;
  border-color: #333 transparent #333 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
