<!-- <div class="box">
  <wukong-cascader [(ngModel)]="values"  [nzOptions]="nzOptions" [ngStyle]="{'width': '300px'}" (ngModelChange)="onChanges($event)"></wukong-cascader>
  <wukong-cascader [mode]="'multi'" [searchColumnsIndex]="searchColumnsIndex" [searchText]="searchText" [(ngModel)]="values1" [nzLoadData]="loadData" [ngStyle]="{'width': '300px'}"> </wukong-cascader>
</div> -->

<h1>Custom Dropdown Demo</h1>

<div style="width: 400px;">
    <custom-select
            [required]="true"
            label="Destination"
            placeholder="Pick Your Holiday Destination"
            [(ngModel)]="selectedDestination"
            (onSelected)="changeEvent($event)"
            [optionList]="destinationList"
            #model="ngModel">
        <!-- <custom-select-option *ngFor="let item of destinationList" [key]="item.key" [value]="item" [hidden]="item.hidden"></custom-select-option> -->
    </custom-select>
</div>

<div style="width: 400px;">
    <custom-select
            [required]="true"
            label="Destination"
            placeholder="Pick Your Holiday Destination"
            [(ngModel)]="selectedDestination"
            (onSelected)="changeEvent($event)"
            [optionList]="destinationList"
            #model="ngModel">
        <!-- <ng-container *ngFor="let item of destinationList">
            <custom-select-option *ngIf="!item.hidden" [key]="item.key" [value]="item"></custom-select-option>
        </ng-container> -->
        <!-- <custom-select-option *ngFor="let item of destinationList" [key]="item.key" [value]="item" [hidden]="item.hidden"></custom-select-option> -->
    </custom-select>
</div>
<div *ngIf="model.invalid && (model.dirty || model.touched)" style="color: red">
    <div *ngIf="model.errors.required">
        Destintation is required.
    </div>
</div>