.box{
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 600px;
}

.wukong-cascader-picker {
    width: 300px;
}


.wukong-icon-arrow-up::before {
    content: "\25bc";
    color: gray;
}